<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <add name="constr" connectionString="Data Source=172.25.192.72; user id=pj08h98;password=tcshyd; database=DB08H98;"/>
  </connectionStrings>
</configuration>
